# AWS Credentials
AWS_ACCESS_KEY=your_access_key_here
AWS_SECRET_KEY=your_secret_key_here
S3_BUCKET_NAME=your_bucket_name

# Snowflake Credentials
SNOW_ACCOUNT=your_account_id (e.g. xy12345.us-east-1)
SNOW_USER=your_username
SNOW_PASS=your_password
SNOW_WH=COMPUTE_WH
SNOW_DB=DEMO_DB
SNOW_SCHEMA=PUBLIC
